mStudent Intervention System
Your goal for this project is to identify students who might need early intervention before they fail to graduate. Which type of supervised learning problem is this, classification or regression? Why?

Answer:

This should be a classification problem.
This is because there possibly two discrete outcomes, typical of a classification problem:
Students who need early intervention.
Students who do not need early intervention.
We can classify accordingly with a binary outcome such as:
Yes, 1, for students who need early intervention.
No, 0, for students who do not need early intervention.
Evidently, we are not trying to predict a continuous outcome, hence this is not a regression problem.
https://www.ritchieng.com/machine-learning-project-student-intervention/

https://github.com/ritchieng/machine-learning-nanodegree/blob/master/supervised_learning/student_intervention/student-data.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/ritchieng/machine-learning-nanodegree/master/supervised_learning/student_intervention/student-data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
passed        395 non-null object
dtypes: int64(13), object(18)
memory usage: 95.7+ KB

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [4]:
obj = []
numerical = []
for col in data.columns:
    if data[col].dtype == object:
        obj.append(col)
    else:
        numerical.append(col)

In [7]:
for col in obj:
    print('\nFrequency of Categories for varible %s'%col)
    print(data[col].value_counts())

Frequency of Categories for varible school
GP    349
MS     46
Name: school, dtype: int64

Frequency of Categories for varible sex
F    208
M    187
Name: sex, dtype: int64

Frequency of Categories for varible address
U    307
R     88
Name: address, dtype: int64

Frequency of Categories for varible famsize
GT3    281
LE3    114
Name: famsize, dtype: int64

Frequency of Categories for varible Pstatus
T    354
A     41
Name: Pstatus, dtype: int64

Frequency of Categories for varible Mjob
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64

Frequency of Categories for varible Fjob
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64

Frequency of Categories for varible reason
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

Frequency of Categories for varible guardian
mother    273
father     90
other      32
Name: guardian, dtype: int64

Frequency of Categories for varible schoolsup
no     344
yes     51
Name: schoolsup, dtype: int64

Frequency of Categories for varible famsup
yes    242
no     153
Name: famsup, dtype: int64

Frequency of Categories for varible paid
no     214
yes    181
Name: paid, dtype: int64

Frequency of Categories for varible activities
yes    201
no     194
Name: activities, dtype: int64

Frequency of Categories for varible nursery
yes    314
no      81
Name: nursery, dtype: int64

Frequency of Categories for varible higher
yes    375
no      20
Name: higher, dtype: int64

Frequency of Categories for varible internet
yes    329
no      66
Name: internet, dtype: int64

Frequency of Categories for varible romantic
no     263
yes    132
Name: romantic, dtype: int64

Frequency of Categories for varible passed
yes    265
no     130
Name: passed, dtype: int64